/* Стили для нижней навигации */
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-section);
    /* Светло-серый #F5F5F7 */
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid var(--text-secondary);
    /* Тёмно-серый #333333 */
    z-index: 1000;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-secondary);
    /* Тёмно-серый #333333 */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link.active {
    color: var(--accent-primary);
    /* Синий #1E63F0 */
}

.nav-link:hover {
    transform: scale(1.02);
    color: var(--accent-primary);
    /* Синий #1E63F0 */
}

.nav-link i {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Тултип для иконок */
.nav-link span {
    display: none;
    position: absolute;
    background: var(--text-primary);
    /* Чёрный #0D0D0D */
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    bottom: 50px;
    z-index: 100;
}

.nav-link:hover span {
    display: block;
}